.alert {
    margin: 5px;
    max-height: 50px;
}

.alert img{
  margin-right: 15px;
}

h1{
  text-align: center;
}

h3{
  text-align: center;
  color: gray;
}

/* Search bar */

.search-bar {
  overflow: hidden;
  height: 30px;
}
input {
  float: right;
  clear: both;
  border: 1px solid #ced4da;
  border-radius: .25rem;
}

/* Card style */

p.card-name {
    font-weight: bold;
}

.card-info {
    font-style: italic;
    color: gray;
    font-size: 13px;
}

.card p{
    margin: 0;
}

.card {
     margin: 10px 0;
     border: 0;
}

/*  Details view */
.detailsView{
  margin-top: 50px;
}

.details{
  font-style: italic;
  color: gray;
  margin-bottom: 30px;
}


/* Loading */

.loading{
  margin-bottom: 70px;
  color:blue;
}